<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=9" />
    <meta name="keywords" content="{$SEO['keyword']}">
    <meta name="description" content="{$SEO['description']}">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>
      {if isset($SEO['title']) && !empty($SEO['title'])}{$SEO['title']}{/if}{$SEO['site_title']}
    </title>
    <link href="{CSS_PATH}default.css" rel="stylesheet" type="text/css" />
    <link href="{CSS_PATH}stylesheets/reset.css" rel="stylesheet" type="text/css"/>
    <link href="{CSS_PATH}stylesheets/forms.css" rel="stylesheet" type="text/css"/>
    <link href="{CSS_PATH}stylesheets/grid.css" rel="stylesheet" type="text/css" />
    <link href="{CSS_PATH}stylesheets/style.css" rel="stylesheet" type="text/css" />
    <link href="{CSS_PATH}stylesheets/industry.css" rel="stylesheet" type="text/css" />
    {template "content","header_one"}
        <!--头部 end-->  
        <div class="hr_6"></div>
        <!-- 二级导航  -->
        <div class="sub_nav">
          {pc:content action="category" catid="$catid" num="25"   siteid="$siteid" order="id desc"}
          <?php $category = $data ;?>
          <ul>
            <li class="first">
              <a href="{$CATEGORYS[$catid]['url']}">新兴<b class="dichan">产业</b></a>
            </li>
              {loop $data $r}
                <li><a href="{$r[url]}">{$r[catname]}</a></li>
              {/loop}
          </ul>
          {/pc}
        </div>
        <!-- 二级导航 end  -->
        <div class="hr_6"></div>
        <div id="page1_content">
          <div class="local_news float">
            <div>
              <h2 class="float">
                <a href="{$category[73]['url']}" target="_blank">各地资讯</a>
              </h2>
              <a href="{$category[73]['url']}" target="_blank" >
                <img src="{IMG_PATH}images/more_icon.jpg" class="more"/>
              </a>
            </div>
            <div class="clear"></div>
            <div class="special_focus float" style="width: 341px; padding-left: 10px;">
              <div class="col-auto channel-slide" style="border: none;">
                {pc:content  action="position" posid="22" catid="42" thumb="1" order="id DESC" num="3"}
                <div class="col-auto">
                  <ul class="photo" style="width: 335px;">
                  {loop $data $k $v}
                      <li><a href="{$v[url]}" title="{$v[title]}"><img src="{thumb($v[thumb], 335, 230)}" width="335" height="230" alt="{$v[title]}" /></a></li>
                  {/loop}
                  </ul>
                  <div class="title" style="background: none;">
                  {loop $data $k $v}
                    <p {if $n==1}style="display:block; height: auto"{/if} style="margin-top: 0;">
                    <strong>
                      <a href="{$v[url]}" title="{$v[title]}" class="blue" style="display:block; height: 24px;text-align: center;">
                        {if $v[article_bac] == ""}{str_cut($v[title],50,'')}{else}{$v[article_bac]}{/if}
                      </a>
                    </strong>
                      <?php 
                  echo str_cut(strip_tags($v[description]), 140,'')."<a href=$v[url]>[详细]</a>";
                ?>
                    </p>
                  {/loop}
                  </div>
                </div>
                {/pc}
              </div>
            </div>
            <div class="information float">
              {pc:content  action="position" posid="23" catid="73" order="id DESC" num="2"}
              <div class="host_news_list"> 
              {loop $data $k $v}
                <span class="article_title">
                  <a href="{$v[url]}" title="{$v[title]}" class="article_title">
                  {if $v[article_bac] == ""}{str_cut($v[title],50,'')}{else}{$v[article_bac]}{/if}
                  </a>
                </span>
                <p class="article_summary">
                  <?php 
                  echo str_cut(strip_tags($v[description]), 150,'')."<a href=$v[url]>[详细]</a>";
                ?>
                </p>
              {/loop}
              {/pc}
              </div>
              <div class="fg_line">
                <img src="{IMG_PATH}images/gray_line.jpg" width="368" height="1" style="display: block;">
              </div>
              <div class="news_list">
                <ul>
{pc:get sql="SELECT * FROM phpcms_news WHERE posids=0 and catid=73 ORDER BY id DESC" num="6"}
                {loop $data $k $v}
                  <li>
                  <a href="{$v[url]}" title="{$v[title]}">
                    ▪ {if $v[article_bac] == ""}{str_cut($v[title],60,'')}{else}{$v[article_bac]}{/if}
                  </a>
                  </li>
                {/loop}
              {/pc}
                </ul>
              </div>
            </div>
          </div>
          <div class="plan float">
            <div>
              <h2 class="float">
                <a href="{$category[74]['url']}" target="_blank">战略•规划
                </a>
              </h2>
              <a href="{$category[74]['url']}" target="_blank" >
                <img src="{IMG_PATH}images/more_icon.jpg" class="more"/>
              </a>
            </div>
            <div class="clear"></div> 
            {pc:content  action="lists" catid="74" order="updatetime DESC" num="8"}
            <div class="plan_news">
              {loop $data $k $v}
                {if $n < 3}
                <span class="article_title">
                  <a href="{$v[url]}" title="{$v[title]}" class="article_title">
                  {if $v[article_bac] == ""}{str_cut($v[title],40,'')}{else}{$v[article_bac]}{/if}
                  </a>
                </span>
                <p class="article_summary">
                  <?php 
                  echo str_cut(strip_tags($v[description]), 85,'')."<a href=$v[url]>[详细]</a>";
                ?>
                </p>
                {/if}
              {/loop}
            </div>
            <div class="fg_line">
              <img src="{IMG_PATH}images/gray_line.jpg" width="230" height="1" style="display: block;">
            </div>
            <div class="plan_list float">
              <ul>
                {loop $data $k $v}
                {if $n>2}
                <li>
                  <a href="{$v[url]}" title="{$v[title]}" class="article_title">
                    ▪ {if $v[article_bac] == ""}{str_cut($v[title],45,'')}{else}{$v[article_bac]}{/if}
                  </a>
                </li>
                {/if}
                {/loop}
              </ul>
            </div>
            {/pc}
          </div>
        </div>
        <div class="hr_6"></div>

        <!-- page2 start -->


        <div id="page2_content">
          <div class="hight_industry float">
            <div>
              <h2 class="float"><a href="{$category[75]['url']}" target="_blank">{$category[75]['catname']}
                </a>
              </h2>
              <a href="{$category[75]['url']}" target="_blank" >
                <img src="{IMG_PATH}images/more_icon.jpg" class="more"/>
              </a>
            </div>
            <div class="clear"></div>
            {pc:content  action="position" posid="24" catid="75" thumb="1" order="id DESC" num="1"}
            {loop $data $k $v}
            <div class="article">
              <div class="article_image">
                <a href="{$v['url']}" title="{$v[title]}">
                  <img src="{thumb($v[thumb],335,230)}" width="230" height="120">
                </a>
              </div>
              <div class="article_summary">
                <h1 class="title">
                  <a href="{$v['url']}" title="{$v[title]}"  class="title">
                  {if $v[article_bac] == ""}{str_cut($v[title],50,'')}{else}{$v[article_bac]}{/if}
                  </a>
                </h1>
                <p>
                  <?php 
                  echo str_cut(strip_tags($v[description]), 160,'')."<a href=$v[url]>[详细]</a>";
                ?>
                </p>
              </div>
            </div>
            {/loop}
            {/pc} 
            <div class="fg_line">
              <img src="{IMG_PATH}images/gray_line.jpg" width="310" height="1" style="display: block">
            </div>
            <div class="list float">
            <ul>
              {pc:content  action="lists" catid="75" order="updatetime DESC" num="5"}
              {loop $data $k $v}
                <li>
                  <a href="{$v[url]}" title="{$v[title]}" class="article_title">
                  ▪ {if $v[article_bac] == ""}{str_cut($v[title],60,'')}{else}{$v[article_bac]}{/if}
                  </a>
                </li>
              {/loop}
              {/pc}
            </ul>
            </div>
          </div>
          
          <div class="energy_source float">
            <div>
              <h2 class="float"><a href="{$category[76]['url']}" target="_blank">{$category[76]['catname']}
                </a>
              </h2>
              <a href="{$category[76]['url']}" target="_blank" >
                <img src="{IMG_PATH}images/more_icon.jpg" class="more"/>
              </a>
            </div>
            <div class="clear"></div>

            {pc:content  action="position" posid="24" catid="76" thumb="1" order="id desc" num="2"}
            {loop $data $k $v}
            <div class="article float">
              <div class="article_image">
                <a href="{$v['url']}" title="{$v[title]}">
                  <img src="{thumb($v[thumb],130,100)}" width="130" height="100" style="display: block;">
                </a>
              </div>
              <div class="article_summary">
                <h1 class="title">
                  <a href="{$v['url']}" title="{$v[title]}"  class="title">
                  {if $v[article_bac] == ""}{str_cut($v[title],30,'')}{else}{$v[article_bac]}{/if}
                  </a>
                </h1>
                <p>
                  <?php 
                  echo str_cut(strip_tags($v[description]), 110,'')."<a href= '".$v[url]."' style='height: 20px; line-height: 20px; display: inline; font-size: 12px; color: #333;'>[详细]</a>";
                ?>
                </p>
              </div>
            </div>
            <div class="clear" style="width: 1px; height: 10px;"></div>
            {/loop}
            {/pc}
            <div class="fg_line clear">
              <img src="{IMG_PATH}images/gray_line.jpg" width="310" height="1" style="display: block">
            </div>
            <div class="list float">
              <ul>
              {pc:content  action="lists" catid="76" order="updatetime DESC" num="5"}
              {loop $data $k $v}
                <li>
                  <a href="{$v[url]}" title="{$v[title]}" class="article_title">                  
                  ▪ {if $v[article_bac] == ""}{str_cut($v[title],60,'')}{else}{$v[article_bac]}{/if}
                  </a>
                </li>
              {/loop}
              {/pc}
              </ul>
            </div>
          </div>
          
          <div class="economy_source float">
            <div>
              <h2 class="float"><a href="{$category[77]['url']}" target="_blank">{$category[77]['catname']}
                </a>
              </h2>
              <a href="{$category[77]['url']}" target="_blank" >
                <img src="{IMG_PATH}images/more_icon.jpg" class="more"/>
              </a>
            </div>
            <div class="clear"></div>
            {pc:content  action="position" posid="24" catid="77" thumb="1" order="id desc" num="2"}
            {loop $data $k $v}
            <div class="article float">
              <div class="article_image">
                <a href="{$v['url']}" title="{$v[title]}">
                  <img src="{thumb($v[thumb],130,100)}" width="130" height="100">
                </a>
              </div>
              <div class="article_summary">
                <a href="{$v['url']}" title="{$v[title]}"  class="title" style="display: block; text-align: center; width: 130px;">
                  {if $v[article_bac] == ""}{str_cut($v[title],40,'')}{else}{$v[article_bac]}{/if}
                </a>
                <p>
                  <?php 
                  echo str_cut(strip_tags($v[description]), 90,'')."<a href='$v[url]' style='display:inline; font-size: 12px; color: #333; font-weight: normal;'>[详细]</a>";
                  ?>
                </p>
              </div>
            </div>
            {/loop}
            {/pc}
            <div class="fg_line clear">
              <img src="{IMG_PATH}images/gray_line.jpg" width="310" height="1" style="display: block">
            </div>
            <div class="list float">
              <ul>
              {pc:content  action="lists" catid="77" order="updatetime DESC" num="5"}
              {loop $data $k $v} 
                <li>
                  <a href="{$v[url]}" title="{$v[title]}" class="article_title">
                  ▪ {if $v[article_bac] == ""}{str_cut($v[title],60,'')}{else}{$v[article_bac]}{/if}
                  </a>
                </li> 
              {/loop}
              {/pc}
              </ul>
            </div>
            <!--<div class="banner">
            </div>-->
          </div>
          <div class="hr_6"></div>
          
          <div class="enterprise_recommend float">
            <div>
              <h2 class="float">
                <a href="{$category[103]['url']}" target="_blank">
                项目•新品
                </a>
              </h2>
              <a href="{$category[103]['url']}" target="_blank" >
                <img src="{IMG_PATH}images/more_icon.jpg" class="more"/>
              </a>
            </div>
            <div class="clear"></div>
            <div class="image_list">
              <ul>
              {pc:content  action="position" posid="24" catid="103" thumb="1" order="id desc" num="2"}
              {loop $data $k $v}
              <li>
                <div class="image">
                  <a href="{$v['url']}" title="{$v[title]}">
                    <img src="{thumb($v[thumb],180,115)}" width="180" height="115">
                  </a>
                </div>
                <span>
                  <a href="{$v[url]}" title="{$v[title]}" class="article_title">
                    {if $v[article_bac] == ""}{str_cut($v[title],40,'')}{else}{$v[article_bac]}{/if}
                  </a>
                </span>
              </li>
              {/loop}
              {/pc}
              </ul>
            </div>
            <div class="fg_line clear">
              <img src="{IMG_PATH}images/gray_line.jpg" width="190" height="1" />
            </div>
            <div class="list float">
              <ul>
              {pc:content  action="lists" catid="103" order="updatetime DESC" num="7"}
              {loop $data $k $v} 
                <li>
                  <a href="{$v[url]}" title="{$v[title]}" class="article_title">
                    ▪ {if $v[article_bac] == ""}{str_cut($v[title],35,'')}{else}{$v[article_bac]}{/if}
                  </a>
                </li> 
              {/loop}
              {/pc}
              </ul>
            </div>
          </div>
          <div class="ocean_economic float">
            <div>
              <h2 class="float"><a href="{$category[104]['url']}" target="_blank">{$category[104]['catname']}
                </a>
              </h2>
              <a href="{$category[104]['url']}" target="_blank" >
                <img src="{IMG_PATH}images/more_icon.jpg" class="more"/>
              </a>
            </div>
            <div class="clear"></div>
            {pc:content  action="position" posid="24" catid="104" thumb="1" order="id DESC" num="2"}
            {loop $data $k $v}
            <div class="article float">
              <div class="article_image">
                <a href="{$v['url']}" title="{$v[title]}">
                  <img src="{thumb($v[thumb],180,115)}" width="180" height="115">
                </a>
              </div>
              <div class="article_summary"> 
                  <a href="{$v['url']}" title="{$v[title]}"  class="title">
                  {if $v[article_bac] == ""}{str_cut($v[title],40,'')}{else}{$v[article_bac]}{/if}
                  </a> 
                <p>
                 <?php 
                  echo str_cut(strip_tags($v[description]), 100,'')."<a href= '".$v[url]."' style='height: 20px; line-height: 20px; display: inline; font-size: 12px; color: #333; font-weight: normal'>[详细]</a>";
                ?>
                </p>
              </div>
            </div>
            {/loop}
            {/pc}
            <div class="list float">
              <ul>
              {pc:content  action="lists" catid="104" order="updatetime DESC" num="8"}
              {loop $data $k $v} 
                <li>
                  <a href="{$v[url]}" title="{$v[title]}" class="article_title">
                    ▪ {if $v[article_bac] == ""}{str_cut($v[title],70,'')}{else}{$v[article_bac]}{/if}
                  </a>
                </li> 
              {/loop}
              {/pc}
              </ul>
            </div>
          </div>
          
          <div class="green_farm float">
            <div>
              <h2 class="float"><a href="{$category[105]['url']}" target="_blank">{$category[105]['catname']}
                </a>
              </h2>
              <a href="{$category[105]['url']}" target="_blank" >
                <img src="{IMG_PATH}images/more_icon.jpg" class="more"/>
              </a>
            </div>
            <div class="clear"></div>
            {pc:content  action="position" posid="24" catid="105" thumb="1" order="id DESC" num="2"}
            {loop $data $k $v}
            <div class="article float">
              <div class="article_image">
                <a href="{$v['url']}" title="{$v[title]}">
                  <img src="{thumb($v[thumb],180,115)}" width="180" height="115">
                </a>
              </div>
              <div class="article_summary"> 
                  <a href="{$v['url']}" title="{$v[title]}"  class="title">
                  {if $v[article_bac] == ""}{str_cut($v[title],40,'')}{else}{$v[article_bac]}{/if}
                  </a> 
                <p>
                 <?php 
                  echo str_cut(strip_tags($v[description]), 100,'')."<a href= '".$v[url]."' style='height: 20px; line-height: 20px; display: inline; font-size: 12px; color: #333; font-weight: normal'>[详细]</a>";
                ?>
                </p>
              </div>
            </div>
            {/loop}
            {/pc}
            <div class="list float">
              <ul>
              {pc:content  action="lists" catid="105" order="updatetime DESC" num="8"}
              {loop $data $k $v}
                <li>
                  <a href="{$v[url]}" title="{$v[title]}" class="article_title">
                    ▪ {if $v[article_bac] == ""}{str_cut($v[title],70,'')}{else}{$v[article_bac]}{/if}
                  </a>
                </li>
              {/loop}
              {/pc}
              </ul>
            </div>
          </div>
          
          <div class="hr_6"></div>
          <div class="structure clear">
            <div>
              <h2 class="float"><a href="{$category[106]['url']}" target="_blank">{$category[106]['catname']}
                </a>
              </h2>
              <a href="{$category[106]['url']}" target="_blank" >
                <img src="{IMG_PATH}images/more_icon.jpg" class="more"/>
              </a>
            </div>
            <div class="clear"></div>
            <div class="structure_recommend" style="height:180px; width: 960px; overflow:hidden; position:relative;">
              <ul class="scorll" style="position: absolute; list-style: none; width: 9999px;">
                {pc:content  action="position" posid="24" catid="106" thumb="1" order="id DESC" num="20"}
                {loop $data $k $v}
                <li>
                  <div class="image">
                    <a href="{$v[url]}" title="{$v[title]}">
                      <img src="{thumb($v[thumb],170,125)}" width="170" height="125">
                    </a>
                  </div>
                  <div>
                    <a href="{$v[url]}" title="{$v[title]}">
                  {if $v[article_bac] == ""}{str_cut($v[title],40,'')}{else}{$v[article_bac]}{/if}
                    </a>
                  </div>
                </li>
                {/loop}
                {/pc}
              </ul>
            </div>
            <!--{pc:content  action="position" posid="24" catid="106" thumb="1" order="id DESC" num="5"}
            <div class="structure_recommend float">
              {loop $data $k $v}
              {if $n==1}
              <div class="recommend_image">
                <a href="{$v[url]}" title="{$v[title]}">
                  <img src="{thumb($v[thumb], 233, 125)}" width="233" height="125">
                </a>
              </div>
              <span class="title">
                <a href="{$v[url]}" title="{$v[title]}">                  
                  {if $v[article_bac] == ""}{str_cut($v[title],40,'')}{else}{$v[article_bac]}{/if}
                </a>
              </span>
              {/if}
              {/loop}
            </div>
            <ul class="float">
              {loop $data $k $v}
              {if $n>1}
              <li>
                <div class="image">
                  <a href="{$v[url]}" title="{$v[title]}">
                    <img src="{thumb($v[thumb], 170, 125)}" width="170" height="125">
                  </a>
                </div>
                <div>
                  <a href="{$v[url]}" title="{$v[title]}">
                  {if $v[article_bac] == ""}{str_cut($v[title],40,'')}{else}{$v[article_bac]}{/if}
                  </a>
                </div>
              </li>
              {/if}
              {/loop}
            </ul>
            {/pc}-->
          </div>
        </div>



      <!-- page2 end -->

      <div class="hr_6"></div>
      <div class="corporation float">
        <h2>新品发布</h2>
        <ul class="top_image">
          <li><img src="{IMG_PATH}images/hezuozhuanqu_46_46_01.jpg" width="46" height="46" /><p>2011CIHAF第十三届中国交往会</p></li>
          <li><img src="{IMG_PATH}images/hezuozhuanqu_46_46_02.jpg" width="46" height="46" /><p>博鳌21实际房地产论坛11届年会</p></li>
          <li><img src="{IMG_PATH}images/hezuozhuanqu_46_46_03.jpg" width="46" height="46" /><p>2011房产商会夏季年会</p></li>
          <li><img src="{IMG_PATH}images/hezuozhuanqu_46_46_04.jpg" width="46" height="46" /><p>第四届亚太商业地产国际峰会</p></li>
          <li><img src="{IMG_PATH}images/hezuozhuanqu_46_46_05.jpg" width="46" height="46" /><p>2011(第二届)中国地产领袖年会</p></li>
          <li><img src="{IMG_PATH}images/hezuozhuanqu_46_46_06.jpg" width="46" height="46" /><p>“114啦”最实用的网址导航</p></li>
        </ul>
        <ul class="bottom_link">
          <li><a href="#">太行龙头春来早：野三坡第五届开山节隆重开幕</a></li>
          <li><a href="#">伦敦桥畔顶级宅塔桥一号首都在华开卖</a></li>
          <li><a href="#">孔雀城荣获“2011中国房地产住宅品牌TOP10”</a></li>
          <li><a href="#">中国首座“会讲故事的商业街”讲露真容</a></li>
          <li><a href="#">缤纷生活馆荣耀开启 西锦城辉耀城西</a></li>
          <li><a href="#">凯德•锦绣捐百亩沙棘树 倡导地产保新理念</a></li>
        </ul>
      </div>
<div class="hr_6"></div>
      <!--尾部-->      

<script type="text/javascript">
function ChannelSlide(Name,Class){
  $(Name+' ul.photo li').sGallery({
    titleObj:Name+' div.title p',
    thumbObj:Name+' .thumb li',
    thumbNowClass:Class
  });
}
new ChannelSlide(".channel-slide","on",335,230);

jQuery(function($) {
  function ScrollAction(listObj, listElem, speed, isSeries) { //listObj为需要滚动的列表，  speed为滚动速度
    var pos, left, anileft, width;
    var id = '';  //记录setInterval的标记id
    
    pos = listObj.position(); 
    left = pos.left;      //列表的left
    anileft = left;       //记录当前运动时的left
    width = listObj.width();  //列表的高度
    
    var scrollUp = function() {
      anileft--;
      if(!isSeries) { //isSeries变量控制是否连续滚动，false不连续，true连续
        if(anileft == -width) { //不连续，滚动玩重新滚动
          listObj.css({'left': left});
          anileft = left;
        };
      } else {
        if(anileft == -listObj.children().eq(0).width()) {  //连续滚动
          var firstItem = '<' + listElem +' style="float:left; padding-left: 10px;">' + listObj.children().eq(0).html() + '</' + listElem +'>';
          listObj.children().eq(0).remove();
          listObj.append(firstItem);
          anileft = 5;
        };
      };
      listObj.css({'left': anileft + 'px'});
    };
    
    var hover = function(id) {
      listObj.hover(function() {
        clearInterval(id);
      }, function() {
        id = setInterval(scrollUp, speed);
      });
    };
    
    this.start = function() {
      id = setInterval(scrollUp, speed);
      hover(id);
    };
  };
  var sa = new ScrollAction($('.structure_recommend ul'), 'li', 30, true);
  sa.start();
});

</script>
{template "content","footer_my"}