<div id="header">      
    <div class="row dingbu">
        <div class="logo">
            <a href="{siteurl($siteid)}" class="site_title">津市房地产管理局</a>
        </div>
        <div class="header-middle">
            <div class="sign">
                <div class="log">
                    <a href="http://www.0736fdc.com/" target="_blank">常德市房地产信息网</a>
                </div>  
            </div>
            <div class="sokuang">
                <form action="http://www.so.com/s" target="_blank" id="so360form">
                    <input type="text" autocomplete="off" name="q" id="so360_keyword">
                    <input type="submit" id="so360_submit" value="搜 索">
                    <input type="hidden" name="ie" value="utf8">
                    <input type="hidden" name="src" value="zz">
                    <input type="hidden" name="site" value="cdsfgj.gov.cn">
                    <input type="hidden" name="rg" value="1">
                </form>
            </div>
        </div>
        <div class="chinaweb_logo">
            <a href="http://www.cdsfgj.gov.cn/" target="_blank" class="site_title" title="常德市房地产管理局">常德市房地产管理局</a>
        </div>
    </div>
    <div class="row clear menu">
        <map id="nav">
            {pc:content action="category" catid="0" num="13" siteid="$siteid" order="listorder ASC"}
            <ul>
                <li>
                    <a href="{siteurl($siteid)}" class="active" title="{$SEO['site_title']}">首页</a>
                </li>
                {loop $data $r}
                <li class="buttons">
                    <a href="{$r[url]}" title="{$r[catname]}">{$r[catname]}</a>
                </li>
                {/loop}
            </ul>
            {/pc}
        </map>
    </div>
    <div class="row clear kuaixun">
        <span class="kx">快讯:</span>
        <ul id="scroller">
            {pc:content  action="position" posid="9" order="id desc" num="10"}
            {loop $data $k $v}
            <li>
                <a href="{$v[url]}" title="{$v[title]}"> {$v[title]}</a>&nbsp;|&nbsp;
            </li>
            {/loop}
            {/pc}
        </ul>
    </div>        
</div>