<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=9" />
  <meta name="keywords" content="{$SEO['keyword']}">
  <meta name="description" content="{$SEO['description']}">
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <title>魅力城市专题</title>
  <link href="{CSS_PATH}default.css" rel="stylesheet" type="text/css" />
  <link href="{CSS_PATH}stylesheets/reset.css" rel="stylesheet" type="text/css"/>
  <link href="{CSS_PATH}stylesheets/forms.css" rel="stylesheet" type="text/css"/>
  <link href="{CSS_PATH}stylesheets/grid.css" rel="stylesheet" type="text/css" />
  <link href="{CSS_PATH}stylesheets/style.css" rel="stylesheet" type="text/css" />
  <link href="{IMG_PATH}theme/style.css" rel="stylesheet" type="text/css">
  {template "content","header_one"}
</div>
</div>
<div style="width: 1004px; margin: 0 auto;">
  <table width="1004" border="0" align="center" cellpadding="0" cellspacing="0">
    <tbody>
      <tr>
        <td width="7" background="{IMG_PATH}theme/bg1.jpg">
          <img src="{IMG_PATH}theme/c.gif" width="7" height="1">
        </td>
        <td>
          <table width="990" border="0" align="center" cellpadding="0" cellspacing="0">
            <tbody>
              <tr>
                <td width="129"><a href="http://www.yancheng.gov.cn/ycweb/TemplateA/Index/index.aspx" target="_blank"><img src="{IMG_PATH}theme/city2_r1_c1.jpg" width="129" height="79" border="0"></a></td>
                <td width="154"><a href="http://www.yixing.gov.cn/" target="_blank"><img src="{IMG_PATH}theme/city2_r1_c2.jpg" width="154" height="79" border="0"></a></td>
                <td width="208"><a href="http://www.rugao.gov.cn/ntrg/" target="_blank"><img src="{IMG_PATH}theme/city2_r1_c3.jpg" width="208" height="79" border="0"></a></td>
                <td width="209"><a href="http://www.wuxi.gov.cn/" target="_blank"><img src="{IMG_PATH}theme/city2_r1_c4.jpg" width="209" height="79" border="0"></a></td>
                <td width="158"><a href="http://nanning.china.com.cn/" target="_blank"><img src="{IMG_PATH}theme/city2_r1_c5.jpg" width="158" height="79" border="0"></a></td>
                <td><a href="http://www.qingdao.gov.cn/n172/index.html" target="_blank"><img src="{IMG_PATH}theme/city2_r1_c6.jpg" width="132" height="79" border="0"></a></td>
              </tr>
              <tr>
                <td><a href="http://www.nanjing.gov.cn/" target="_blank"><img src="{IMG_PATH}theme/city2_r2_c1.jpg" width="129" height="150" border="0"></a></td>
                <td><a href="http://www.ningbo.gov.cn/" target="_blank"><img src="{IMG_PATH}theme/city2_r2_c2.jpg" width="154" height="150" border="0"></a></td>
                <td><img src="{IMG_PATH}theme/1.jpg" width="208" height="150"></td>
                <td><img src="{IMG_PATH}theme/2.jpg" width="209" height="149"></td>
                <td><a href="http://www.hangzhou.gov.cn/" target="_blank"><img src="{IMG_PATH}theme/city2_r2_c5.jpg" width="158" height="150" border="0"></a></td>
                <td><a href="http://www.gygov.gov.cn/gygov/1441151880758558720/" target="_blank"><img src="{IMG_PATH}theme/city2_r2_c6.jpg" width="132" height="150" border="0"></a></td>
              </tr>
              <tr>
                <td colspan="2"><a href="http://www.dt.gov.cn/" target="_blank"><img src="{IMG_PATH}theme/city2_r3_c1.jpg" width="283" height="94" border="0"></a></td>
                <td><a href="http://www.xz.gov.cn/" target="_blank"><img src="{IMG_PATH}theme/city2_r3_c3.jpg" width="208" height="94" border="0"></a></td>
                <td><a href="http://www.zhuhai.gov.cn/" target="_blank"><img src="{IMG_PATH}theme/city2_r3_c4.jpg" width="209" height="94" border="0"></a></td>
                <td><a href="http://www.suzhou.gov.cn/index.shtml" target="_blank"><img src="{IMG_PATH}theme/city2_r3_c5.jpg" width="158" height="94" border="0"></a></td>
                <td><a href="http://www.xm.gov.cn/" target="_blank"><img src="{IMG_PATH}theme/city2_r3_c6.jpg" width="132" height="94" border="0"></a></td>
              </tr>
            </tbody>
          </table>
          <table width="990" border="0" align="center" cellpadding="0" cellspacing="0">
            <tbody>
              <tr>
                <td width="993">
                  <table width="100%" border="0" cellspacing="0" cellpadding="0">
                    <tbody>
                      <tr>
                        <td height="40"><a class="text3" title="中国城市">中国城市 </a>&gt;&gt;<b class="text3">城市专题</b>&gt;&gt; <h1 class="text3">魅力城市专题</h1></td>
                        <td width="80"><a href="http://www.china.com.cn/" target="_blank"><img src="{IMG_PATH}theme/logo.jpg" width="68" height="40" border="0"></a></td>
                      </tr>
                    </tbody>
                  </table>
                </td>
              </tr>
            </tbody>
          </table>
          <table width="990" border="0" align="center" cellpadding="0" cellspacing="0">
            <tbody><tr>
              <td width="272" valign="top"><table width="273" border="0" cellpadding="0" cellspacing="0" class="box1">
                <tbody><tr>
                  <td width="273" valign="top"><table width="100%" border="0" cellspacing="0" cellpadding="0">
                    <tbody><tr>
                      <td height="48"><img src="{IMG_PATH}theme/zhuanti_r4_c2.jpg" width="106" height="33"></td>
                    </tr>
                    <tr>
                      <td class="text1">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;主要推介中国最具活力和特色的
                        城市。通过视频、图片、文字等方式
                        全景展示城市发展态势和打造城市品
                        牌。着眼于社会，经济，旅游，历史，
                        文化，创新，环保，教育等领域，把
                        握城市特点，挖掘城市潜力，打造城
                        市品牌，在国际传播平台上呈现一个
                        精彩的中国城市。</td>
                      </tr>
                      <tr>
                        <td background="{IMG_PATH}theme/bg.gif"><img src="{IMG_PATH}theme/c.gif" width="1" height="3"></td>
                      </tr>
                      <tr>
                        <td class="text1"><strong>诚邀合作伙伴，联系我们</strong>
                          <table width="100%" border="0" cellspacing="0" cellpadding="0">
                            <tbody><tr>
                              <td width="50">电话：</td>
                              <td>010-58610672</td>
                            </tr>
                            <tr>
                              <td>&nbsp;</td>
                              <td>010-88828326</td>
                            </tr>
                            <tr>
                              <td>EMAIL：</td>
                              <td>chinacity@china.org.cn</td>
                            </tr>
                          </tbody></table></td>
                        </tr>
                      </tbody></table></td>
                    </tr>
                  </tbody></table></td>
                  <td width="10"><img src="{IMG_PATH}theme/c.gif" width="1" height="1"></td>
                  <td width="480" valign="top"><table width="480" border="0" cellpadding="0" cellspacing="0" class="box2">
                    <tbody><tr>
                      <td valign="top"><table width="100%" border="0" cellspacing="0" cellpadding="0">
                        <tbody><tr>
                          <td height="48"><img src="{IMG_PATH}theme/zhuanti_r4_c8.jpg" width="110" height="33"></td>
                        </tr>
                        <tr>
                          <td><div align="center"><a href="http://www.china.com.cn/news/zhuanti/kzgl/node_7085502.htm" target="_blank"><img src="{IMG_PATH}theme/top.jpg" width="450" height="290" border="0"></a></div></td>
                        </tr>
                        <tr>
                          <td>&nbsp;</td>
                        </tr>
                      </tbody></table></td>
                    </tr>
                  </tbody></table></td>
                  <td width="10"><img src="{IMG_PATH}theme/c.gif" width="1" height="1"></td>
                  <td valign="top"><div id="tjcs">
                    <table width="100%" border="0" cellspacing="0" cellpadding="0">
                      <tbody><tr>
                        <td height="48"><img src="{IMG_PATH}theme/zhuanti_r4_c13.jpg" width="114" height="33"></td>
                      </tr>
                      <tr>
                        <td width="200"><div align="center"><a href="http://www.china.com.cn/city/zhuanti/qd10/node_7095760.htm" target="_blank"><img src="{IMG_PATH}theme/s1.jpg" width="200" height="61" border="0"></a></div></td>
                      </tr>
                      <tr>
                        <td><img src="{IMG_PATH}theme/c.gif" width="1" height="2"></td>
                      </tr>
                      <tr>
                        <td width="200"><div align="center"><a href="http://local.china.com.cn/zhuanti/sjwh/node_7094450.htm" target="_blank"><img src="{IMG_PATH}theme/s2.jpg" width="200" height="60" border="0"></a></div></td>
                      </tr>
                      <tr>
                        <td><img src="{IMG_PATH}theme/c.gif" width="1" height="2"></td>
                      </tr>
                      <tr>
                        <td width="200"><div align="center"><a href="http://local.china.com.cn/zhuanti/qxtangshan/node_7096588.htm" target="_blank"><img src="{IMG_PATH}theme/s3.jpg" width="200" height="60" border="0"></a></div></td>
                      </tr>
                      <tr>
                        <td><img src="{IMG_PATH}theme/c.gif" width="1" height="2"></td>
                      </tr>
                      <tr>
                        <td width="200"><div align="center"><a href="http://www.china.com.cn/travel/node_7107762.htm" target="_blank"><img src="{IMG_PATH}theme/s4.jpg" width="200" height="60" border="0"></a></div></td>
                      </tr>
                      <tr>
                        <td><img src="{IMG_PATH}theme/c.gif" width="1" height="2"></td>
                      </tr>
                      <tr>
                        <td width="200"><div align="center"><a href="http://www.china.com.cn/economic/node_7102526.htm" target="_blank"><img src="{IMG_PATH}theme/s5.jpg" width="200" height="60" border="0"></a></div></td>
                      </tr>
                    </tbody></table>
                  </div></td>
                </tr>
              </tbody></table>
              <table width="990" border="0" align="center" cellpadding="0" cellspacing="0">
                <tbody><tr>
                  <td><img src="{IMG_PATH}theme/c.gif" width="1" height="10"></td>
                </tr>
                <tr>
                  <td valign="top"><table width="970" border="0" cellpadding="0" cellspacing="0" class="box3">
                    <tbody><tr>
                      <td><table width="970" border="0" cellpadding="0" cellspacing="0">
                        <tbody><tr>
                          <td height="60"><img src="{IMG_PATH}theme/zhuanti_r6_c2.jpg" width="175" height="41"></td>
                        </tr>
                        <tr>
                          <td><table width="96%" border="0" align="center" cellpadding="0" cellspacing="0" class="box4">
                            <tbody><tr>
                              <td valign="top"><table width="100%" border="0" cellspacing="0" cellpadding="0">
                                <tbody><tr>
                                  <td><img src="{IMG_PATH}theme/c.gif" width="1" height="20"></td>
                                </tr>
                              </tbody></table>
                              <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                <tbody><tr>
                                  <td width="452" valign="top"><table width="452" border="0" cellspacing="0" cellpadding="0">
                                    <tbody><tr>
                                      <td width="36"><img src="{IMG_PATH}theme/zhuanti_r8_c3.jpg" width="36" height="215"></td>
                                      <td><a href="http://www.china.com.cn/news/zhuanti/kzgl/node_7085502.htm" target="_blank"><img src="{IMG_PATH}theme/001.jpg" width="380" height="215" border="0"></a></td>
                                      <td width="36"><img src="{IMG_PATH}theme/zhuanti_r8_c9.jpg" width="36" height="215"></td>
                                    </tr>
                                  </tbody></table>
                                  <table width="100%" border="0" cellpadding="0" cellspacing="0" class="text2">
                                    <tbody><tr>
                                      <td><p align="center"><a href="http://www.china.com.cn/news/zhuanti/kzgl/node_7085502.htm" target="_blank">孔子故乡，山东</a></p></td>
                                    </tr>
                                  </tbody></table>
                                  <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                    <tbody><tr>
                                      <td><img src="{IMG_PATH}theme/c.gif" width="1" height="10"></td>
                                    </tr>
                                  </tbody></table>
                                  <table width="452" border="0" cellspacing="0" cellpadding="0">
                                    <tbody><tr>
                                      <td width="36"><img src="{IMG_PATH}theme/zhuanti_r8_c3.jpg" width="36" height="215"></td>
                                      <td><a href="http://www.china.com.cn/news/node_7089276.htm" target="_blank"><img src="{IMG_PATH}theme/005.jpg" width="380" height="215" border="0"></a></td>
                                      <td width="36"><img src="{IMG_PATH}theme/zhuanti_r8_c9.jpg" width="36" height="215"></td>
                                    </tr>
                                  </tbody></table>
                                  <table width="100%" border="0" cellpadding="0" cellspacing="0" class="text2">
                                    <tbody><tr>
                                      <td><p align="center"><a href="http://www.china.com.cn/news/node_7089276.htm" target="_blank">多彩贵州</a></p></td>
                                    </tr>
                                  </tbody></table>
                                  <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                    <tbody><tr>
                                      <td><img src="{IMG_PATH}theme/c.gif" width="1" height="10"></td>
                                    </tr>
                                  </tbody></table>
                                  <table width="452" border="0" cellspacing="0" cellpadding="0">
                                    <tbody><tr>
                                      <td width="36"><img src="{IMG_PATH}theme/zhuanti_r8_c3.jpg" width="36" height="215"></td>
                                      <td><a href="http://www.china.com.cn/travel/zhuanti/hngjlyd/node_7086174.htm" target="_blank"><img src="{IMG_PATH}theme/007.jpg" width="380" height="215" border="0"></a></td>
                                      <td width="36"><img src="{IMG_PATH}theme/zhuanti_r8_c9.jpg" width="36" height="215"></td>
                                    </tr>
                                  </tbody></table>
                                  <table width="100%" border="0" cellpadding="0" cellspacing="0" class="text2">
                                    <tbody><tr>
                                      <td><p align="center"><a href="http://www.china.com.cn/travel/zhuanti/hngjlyd/node_7086174.htm" target="_blank">海南，你好！</a></p></td>
                                    </tr>
                                  </tbody></table>
                                  <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                    <tbody><tr>
                                      <td><img src="{IMG_PATH}theme/c.gif" width="1" height="10"></td>
                                    </tr>
                                  </tbody></table>
                                  <table width="452" border="0" cellspacing="0" cellpadding="0">
                                    <tbody><tr>
                                      <td width="36"><img src="{IMG_PATH}theme/zhuanti_r8_c3.jpg" width="36" height="215"></td>
                                      <td><a href="http://local.china.com.cn/zhuanti/yqxbfrlj/node_7101136.htm" target="_blank"><img src="{IMG_PATH}theme/009.jpg" width="380" height="215" border="0"></a></td>
                                      <td width="36"><img src="{IMG_PATH}theme/zhuanti_r8_c9.jpg" width="36" height="215"></td>
                                    </tr>
                                  </tbody></table>
                                  <table width="100%" border="0" cellpadding="0" cellspacing="0" class="text2">
                                    <tbody><tr>
                                      <td><p align="center"><a href="http://local.china.com.cn/zhuanti/yqxbfrlj/node_7101136.htm" target="_blank">重庆两江新区</a></p></td>
                                    </tr>
                                  </tbody></table>
                                  <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                    <tbody><tr>
                                      <td><img src="{IMG_PATH}theme/c.gif" width="1" height="10"></td>
                                    </tr>
                                  </tbody></table>
                                  <table width="452" border="0" cellspacing="0" cellpadding="0">
                                    <tbody><tr>
                                      <td width="36"><img src="{IMG_PATH}theme/zhuanti_r8_c3.jpg" width="36" height="215"></td>
                                      <td><a href="http://www.china.com.cn/travel/node_7091172.htm" target="_blank"><img src="{IMG_PATH}theme/011.jpg" width="380" height="215" border="0"></a></td>
                                      <td width="36">&nbsp;</td>
                                    </tr>
                                  </tbody></table>
                                  <table width="100%" border="0" cellpadding="0" cellspacing="0" class="text2">
                                    <tbody><tr>
                                      <td><p align="center"><a href="http://www.china.com.cn/travel/node_7091172.htm" target="_blank">绵山</a></p></td>
                                    </tr>
                                  </tbody></table>
                                  <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                    <tbody><tr>
                                      <td><img src="{IMG_PATH}theme/c.gif" width="1" height="10"></td>
                                    </tr>
                                  </tbody></table>
                                </td>
                                <td width="41"><img src="{IMG_PATH}theme/c.gif" width="1" height="1"></td>
                                <td><img src="{IMG_PATH}theme/c.gif" width="1" height="10"></td>
                                <td><img src="{IMG_PATH}theme/c.gif" width="1" height="10"></td>
                                <td valign="top"><table width="452" border="0" cellspacing="0" cellpadding="0">
                                  <tbody><tr>
                                    <td width="36"><img src="{IMG_PATH}theme/zhuanti_r8_c3.jpg" width="36" height="215"></td>
                                    <td><a href="http://jjsx.china.com.cn/zt/sx125/" target="_blank"><img src="{IMG_PATH}theme/002.jpg" width="380" height="215" border="0"></a></td>
                                    <td width="36"><img src="{IMG_PATH}theme/zhuanti_r8_c9.jpg" width="36" height="215"></td>
                                  </tr>
                                </tbody></table>
                                <table width="100%" border="0" cellpadding="0" cellspacing="0" class="text2">
                                  <tbody><tr>
                                    <td><p align="center"><a href="http://jjsx.china.com.cn/zt/sx125/" target="_blank">“十二五”山西新坐标</a></p></td>
                                  </tr>
                                </tbody></table>
                                <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                  <tbody><tr>
                                    <td><img src="{IMG_PATH}theme/c.gif" width="1" height="10"></td>
                                  </tr>
                                </tbody></table>
                                <table width="452" border="0" cellspacing="0" cellpadding="0">
                                  <tbody><tr>
                                    <td width="36"><img src="{IMG_PATH}theme/zhuanti_r8_c3.jpg" width="36" height="215"></td>
                                    <td><a href="http://www.china.com.cn/news/node_7089006.htm" target="_blank"><img src="{IMG_PATH}theme/006.jpg" width="380" height="215" border="0"></a></td>
                                    <td width="36"><img src="{IMG_PATH}theme/zhuanti_r8_c9.jpg" width="36" height="215"></td>
                                  </tr>
                                </tbody></table>
                                <table width="100%" border="0" cellpadding="0" cellspacing="0" class="text2">
                                  <tbody><tr>
                                    <td><p align="center"><a href="http://www.china.com.cn/news/node_7089006.htm" target="_blank">魅力陕西</a></p></td>
                                  </tr>
                                </tbody></table>
                                <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                  <tbody><tr>
                                    <td><img src="{IMG_PATH}theme/c.gif" width="1" height="10"></td>
                                  </tr>
                                </tbody></table>
                                <table width="452" border="0" cellspacing="0" cellpadding="0">
                                  <tbody><tr>
                                    <td width="36"><img src="{IMG_PATH}theme/zhuanti_r8_c3.jpg" width="36" height="215"></td>
                                    <td><a href="http://www.china.com.cn/city/zhuanti/qd10/node_7095760.htm" target="_blank"><img src="{IMG_PATH}theme/008.jpg" width="380" height="215" border="0"></a></td>
                                    <td width="36"><img src="{IMG_PATH}theme/zhuanti_r8_c9.jpg" width="36" height="215"></td>
                                  </tr>
                                </tbody></table>
                                <table width="100%" border="0" cellpadding="0" cellspacing="0" class="text2">
                                  <tbody><tr>
                                    <td><p align="center"><a href="http://www.china.com.cn/city/zhuanti/qd10/node_7095760.htm" target="_blank">魅力青岛</a></p></td>
                                  </tr>
                                </tbody></table>
                                <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                  <tbody><tr>
                                    <td><img src="{IMG_PATH}theme/c.gif" width="1" height="10"></td>
                                  </tr>
                                </tbody></table>
                                <table width="452" border="0" cellspacing="0" cellpadding="0">
                                  <tbody><tr>
                                    <td width="36"><img src="{IMG_PATH}theme/zhuanti_r8_c3.jpg" width="36" height="215"></td>
                                    <td><a href="http://news.china.com.cn/local/node_7084418.htm" target="_blank"><img src="{IMG_PATH}theme/010.jpg" width="380" height="215" border="0"></a></td>
                                    <td width="36"><img src="{IMG_PATH}theme/zhuanti_r8_c9.jpg" width="36" height="215"></td>
                                  </tr>
                                </tbody></table>
                                <table width="100%" border="0" cellpadding="0" cellspacing="0" class="text2">
                                  <tbody><tr>
                                    <td><p align="center"><a href="http://news.china.com.cn/local/node_7084418.htm" target="_blank">醉美怒江</a></p></td>
                                  </tr>
                                </tbody></table>
                                <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                  <tbody><tr>
                                    <td><img src="{IMG_PATH}theme/c.gif" width="1" height="10"></td>
                                  </tr>
                                </tbody></table>
                                <table width="452" border="0" cellspacing="0" cellpadding="0">
                                  <tbody><tr>
                                    <td width="36"><img src="{IMG_PATH}theme/zhuanti_r8_c3.jpg" width="36" height="215"></td>
                                    <td><a href="http://local.china.com.cn/zhuanti/sjwh/node_7094450.htm" target="_blank"><img src="{IMG_PATH}theme/012.jpg" width="380" height="215" border="0"></a></td>
                                    <td width="36"><img src="{IMG_PATH}theme/zhuanti_r8_c9.jpg" width="36" height="215"></td>
                                  </tr>
                                </tbody></table>
                                <table width="100%" border="0" cellpadding="0" cellspacing="0" class="text2">
                                  <tbody><tr>
                                    <td><p align="center"><a href="http://local.china.com.cn/zhuanti/sjwh/node_7094450.htm" target="_blank">首届中国文化风情魅力城市展播</a></p></td>
                                  </tr>
                                </tbody></table>
                                <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                  <tbody><tr>
                                    <td><img src="{IMG_PATH}theme/c.gif" width="1" height="10"></td>
                                  </tr>
                                </tbody></table>
                              </td>
                            </tr>
                          </tbody></table></td>
                        </tr>
                      </tbody></table>
                      <table width="100%" border="0" cellspacing="0" cellpadding="0">
                        <tbody><tr>
                          <td><img src="{IMG_PATH}theme/c.gif" width="1" height="10"></td>
                        </tr>
                      </tbody></table></td>
                    </tr>
                  </tbody></table>
                  <table width="990" border="0" cellspacing="0" cellpadding="0">
                    <tbody><tr>
                      <td height="100" bgcolor="#666666">&nbsp;</td>
                    </tr>
                  </tbody></table>
                  <table width="970" border="0" cellpadding="0" cellspacing="0">
                    
                    <tbody><tr>
                      <td><table width="100%" border="0" cellspacing="0" cellpadding="0">
                        <tbody><tr>
                          <td><img src="{IMG_PATH}theme/c.gif" width="1" height="10"></td>
                        </tr>
                      </tbody></table>
                      <table width="96%" border="0" align="center" cellpadding="0" cellspacing="0" class="box4">
                        <tbody><tr>
                          <td valign="top"><table width="100%" border="0" cellspacing="0" cellpadding="0">
                            <tbody><tr>
                              <td width="452" valign="top"><table width="452" border="0" cellspacing="0" cellpadding="0">
                                <tbody><tr>
                                  <td width="36"><img src="{IMG_PATH}theme/zhuanti_r8_c3.jpg" width="36" height="215"></td>
                                  <td><a href="http://hnzs.china.com.cn/" target="_blank"><img src="{IMG_PATH}theme/013.jpg" width="380" height="215" border="0"></a></td>
                                  <td width="36"><img src="{IMG_PATH}theme/zhuanti_r8_c9.jpg" width="36" height="215"></td>
                                </tr>
                              </tbody></table>
                              <table width="100%" border="0" cellpadding="0" cellspacing="0" class="text2">
                                <tbody><tr>
                                  <td><p align="center"><a href="http://hnzs.china.com.cn/" target="_blank">湖南之声</a></p></td>
                                </tr>
                              </tbody></table>
                              <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                <tbody><tr>
                                  <td><img src="{IMG_PATH}theme/c.gif" width="1" height="10"></td>
                                </tr>
                              </tbody></table>
                              <table width="452" border="0" cellspacing="0" cellpadding="0">
                                <tbody><tr>
                                  <td width="36"><img src="{IMG_PATH}theme/zhuanti_r8_c3.jpg" width="36" height="215"></td>
                                  <td><a href="http://www.china.com.cn/city/node_7097993.htm" target="_blank"><img src="{IMG_PATH}theme/015.jpg" width="380" height="215" border="0"></a></td>
                                  <td width="36"><img src="{IMG_PATH}theme/zhuanti_r8_c9.jpg" width="36" height="215"></td>
                                </tr>
                              </tbody></table>
                              <table width="100%" border="0" cellpadding="0" cellspacing="0" class="text2">
                                <tbody><tr>
                                  <td><p align="center"><a href="http://www.china.com.cn/city/node_7097993.htm" target="_blank">2010网络媒体黑龙江行</a></p></td>
                                </tr>
                              </tbody></table>
                              <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                <tbody><tr>
                                  <td><img src="{IMG_PATH}theme/c.gif" width="1" height="10"></td>
                                </tr>
                              </tbody></table>
                              <table width="452" border="0" cellspacing="0" cellpadding="0">
                                <tbody><tr>
                                  <td width="36"><img src="{IMG_PATH}theme/zhuanti_r8_c3.jpg" width="36" height="215"></td>
                                  <td><a href="http://www.china.com.cn/culture/2010-09/17/content_20953944.htm" target="_blank"><img src="{IMG_PATH}theme/017.jpg" width="380" height="215" border="0"></a></td>
                                  <td width="36"><img src="{IMG_PATH}theme/zhuanti_r8_c9.jpg" width="36" height="215"></td>
                                </tr>
                              </tbody></table>
                              <table width="100%" border="0" cellpadding="0" cellspacing="0" class="text2">
                                <tbody><tr>
                                  <td><p align="center"><a href="http://www.china.com.cn/culture/2010-09/17/content_20953944.htm" target="_blank">品牌解析（企业家访谈）:探秘金骏眉</a></p></td>
                                </tr>
                              </tbody></table>
                              <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                <tbody><tr>
                                  <td><img src="{IMG_PATH}theme/c.gif" width="1" height="10"></td>
                                </tr>
                              </tbody></table>
                              <table width="452" border="0" cellspacing="0" cellpadding="0">
                                <tbody><tr>
                                  <td width="36"><img src="{IMG_PATH}theme/zhuanti_r8_c3.jpg" width="36" height="215"></td>
                                  <td><a href="http://www.china.com.cn/aboutchina/zhuanti/qiangwenhua/node_7045677.htm" target="_blank"><img src="{IMG_PATH}theme/019.jpg" width="380" height="215" border="0"></a></td>
                                  <td width="36"><img src="{IMG_PATH}theme/zhuanti_r8_c9.jpg" width="36" height="215"></td>
                                </tr>
                              </tbody></table>
                              <table width="100%" border="0" cellpadding="0" cellspacing="0" class="text2">
                                <tbody><tr>
                                  <td><p align="center"><a href="http://www.china.com.cn/aboutchina/zhuanti/qiangwenhua/node_7045677.htm" target="_blank">永不消逝的羌族文化</a></p></td>
                                </tr>
                              </tbody></table>
                              <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                <tbody><tr>
                                  <td><img src="{IMG_PATH}theme/c.gif" width="1" height="10"></td>
                                </tr>
                              </tbody></table>
                              <table width="452" border="0" cellspacing="0" cellpadding="0">
                                <tbody><tr>
                                  <td width="36"><img src="{IMG_PATH}theme/zhuanti_r8_c3.jpg" width="36" height="215"></td>
                                  <td><a href="http://www.china.com.cn/photo/zhuanti/jsyhkf/node_7075534.htm" target="_blank"><img src="{IMG_PATH}theme/021.jpg" width="380" height="215" border="0"></a></td>
                                  <td width="36"><img src="{IMG_PATH}theme/zhuanti_r8_c9.jpg" width="36" height="215"></td>
                                </tr>
                              </tbody></table>
                              <table width="100%" border="0" cellpadding="0" cellspacing="0" class="text2">
                                <tbody><tr>
                                  <td><p align="center"><a href="http://www.china.com.cn/photo/zhuanti/jsyhkf/node_7075534.htm" target="_blank">江苏沿海开发网络媒体行</a></p></td>
                                </tr>
                              </tbody></table>
                              <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                <tbody><tr>
                                  <td><img src="{IMG_PATH}theme/c.gif" width="1" height="10"></td>
                                </tr>
                              </tbody></table>
                            </td>
                            <td width="41"><img src="{IMG_PATH}theme/c.gif" width="1" height="1"></td>
                            <td><img src="{IMG_PATH}theme/c.gif" width="1" height="10"></td>
                            <td><img src="{IMG_PATH}theme/c.gif" width="1" height="10"></td>
                            <td valign="top"><table width="452" border="0" cellspacing="0" cellpadding="0">
                              <tbody><tr>
                                <td width="36"><img src="{IMG_PATH}theme/zhuanti_r8_c3.jpg" width="36" height="215"></td>
                                <td><a href="http://local.china.com.cn/zhuanti/qxtangshan/node_7096588.htm" target="_blank"><img src="{IMG_PATH}theme/014.jpg" width="380" height="215" border="0"></a></td>
                                <td width="36"><img src="{IMG_PATH}theme/zhuanti_r8_c9.jpg" width="36" height="215"></td>
                              </tr>
                            </tbody></table>
                            <table width="100%" border="0" cellpadding="0" cellspacing="0" class="text2">
                              <tbody><tr>
                                <td><p align="center"><a href="http://local.china.com.cn/zhuanti/qxtangshan/node_7096588.htm" target="_blank">情牵唐山</a></p></td>
                              </tr>
                            </tbody></table>
                            <table width="100%" border="0" cellspacing="0" cellpadding="0">
                              <tbody><tr>
                                <td><img src="{IMG_PATH}theme/c.gif" width="1" height="10"></td>
                              </tr>
                            </tbody></table>
                            <table width="452" border="0" cellspacing="0" cellpadding="0">
                              <tbody><tr>
                                <td width="36"><img src="{IMG_PATH}theme/zhuanti_r8_c3.jpg" width="36" height="215"></td>
                                <td><a href="http://culture.china.com.cn/zhuanti/62Frankford/node_7100934.htm" target="_blank"><img src="{IMG_PATH}theme/016.jpg" width="380" height="215" border="0"></a></td>
                                <td width="36"><img src="{IMG_PATH}theme/zhuanti_r8_c9.jpg" width="36" height="215"></td>
                              </tr>
                            </tbody></table>
                            <table width="100%" border="0" cellpadding="0" cellspacing="0" class="text2">
                              <tbody><tr>
                                <td><p align="center"><a href="http://culture.china.com.cn/zhuanti/62Frankford/node_7100934.htm" target="_blank">2010法兰克福书展</a></p></td>
                              </tr>
                            </tbody></table>
                            <table width="100%" border="0" cellspacing="0" cellpadding="0">
                              <tbody><tr>
                                <td><img src="{IMG_PATH}theme/c.gif" width="1" height="10"></td>
                              </tr>
                            </tbody></table>
                            <table width="452" border="0" cellspacing="0" cellpadding="0">
                              <tbody><tr>
                                <td width="36"><img src="{IMG_PATH}theme/zhuanti_r8_c3.jpg" width="36" height="215"></td>
                                <td><a href="http://www.china.com.cn/travel/node_7107762.htm" target="_blank"><img src="{IMG_PATH}theme/018.jpg" width="380" height="215" border="0"></a></td>
                                <td width="36"><img src="{IMG_PATH}theme/zhuanti_r8_c9.jpg" width="36" height="215"></td>
                              </tr>
                            </tbody></table>
                            <table width="100%" border="0" cellpadding="0" cellspacing="0" class="text2">
                              <tbody><tr>
                                <td><p align="center"><a href="http://www.china.com.cn/travel/node_7107762.htm" target="_blank">畅游香港购物季</a></p></td>
                              </tr>
                            </tbody></table>
                            <table width="100%" border="0" cellspacing="0" cellpadding="0">
                              <tbody><tr>
                                <td><img src="{IMG_PATH}theme/c.gif" width="1" height="10"></td>
                              </tr>
                            </tbody></table>
                            <table width="452" border="0" cellspacing="0" cellpadding="0">
                              <tbody><tr>
                                <td width="36"><img src="{IMG_PATH}theme/zhuanti_r8_c3.jpg" width="36" height="215"></td>
                                <td><a href="http://www.china.com.cn/news/zhuanti/8henan/node_7067545.htm" target="_blank"><img src="{IMG_PATH}theme/020.jpg" width="380" height="215" border="0"></a></td>
                                <td width="36"><img src="{IMG_PATH}theme/zhuanti_r8_c9.jpg" width="36" height="215"></td>
                              </tr>
                            </tbody></table>
                            <table width="100%" border="0" cellpadding="0" cellspacing="0" class="text2">
                              <tbody><tr>
                                <td><p align="center"><a href="http://www.china.com.cn/news/zhuanti/8henan/node_7067545.htm" target="_blank">网上看河南</a></p></td>
                              </tr>
                            </tbody></table>
                            <table width="100%" border="0" cellspacing="0" cellpadding="0">
                              <tbody><tr>
                                <td><img src="{IMG_PATH}theme/c.gif" width="1" height="10"></td>
                              </tr>
                            </tbody></table>
                            <table width="452" border="0" cellspacing="0" cellpadding="0">
                              <tbody><tr>
                                <td width="36"><img src="{IMG_PATH}theme/zhuanti_r8_c3.jpg" width="36" height="215"></td>
                                <td><a href="http://www.china.com.cn/info/node_7089629.htm" target="_blank"><img src="{IMG_PATH}theme/022.jpg" width="380" height="215" border="0"></a></td>
                                <td width="36"><img src="{IMG_PATH}theme/zhuanti_r8_c9.jpg" width="36" height="215"></td>
                              </tr>
                            </tbody></table>
                            <table width="100%" border="0" cellpadding="0" cellspacing="0" class="text2">
                              <tbody><tr>
                                <td><p align="center"><a href="http://www.china.com.cn/info/node_7089629.htm" target="_blank">诗画江南</a></p></td>
                              </tr>
                            </tbody></table>
                            <table width="100%" border="0" cellspacing="0" cellpadding="0">
                              <tbody><tr>
                                <td><img src="{IMG_PATH}theme/c.gif" width="1" height="10"></td>
                              </tr>
                            </tbody></table>
                          </td>
                        </tr>
                      </tbody></table></td>
                    </tr>
                  </tbody></table>
                  <table width="100%" border="0" cellspacing="0" cellpadding="0">
                    <tbody><tr>
                      <td><img src="{IMG_PATH}theme/c.gif" width="1" height="10"></td>
                    </tr>
                  </tbody></table>
                  <table width="990" border="0" cellspacing="0" cellpadding="0">
                    <tbody><tr>
                      <td height="100" bgcolor="#666666">&nbsp;</td>
                    </tr>
                  </tbody></table>
                  <table width="100%" border="0" cellspacing="0" cellpadding="0">
                    <tbody><tr>
                      <td><img src="{IMG_PATH}theme/c.gif" width="1" height="10"></td>
                    </tr>
                  </tbody></table>
                  <table width="96%" border="0" align="center" cellpadding="0" cellspacing="0" class="box4">
                    <tbody><tr>
                      <td><table width="100%" border="0" cellspacing="0" cellpadding="0">
                        <tbody><tr>
                          <td width="452" valign="top"><table width="100%" border="0" cellspacing="0" cellpadding="0">
                            <tbody><tr>
                              <td><img src="{IMG_PATH}theme/c.gif" width="1" height="10"></td>
                            </tr>
                          </tbody></table>
                          <table width="452" border="0" cellspacing="0" cellpadding="0">
                            <tbody><tr>
                              <td width="36"><img src="{IMG_PATH}theme/zhuanti_r8_c3.jpg" width="36" height="215"></td>
                              <td><a href="http://culture.china.com.cn/zhuanti/sjyc/node_7097023.htm" target="_blank"><img src="{IMG_PATH}theme/023.jpg" width="380" height="215" border="0"></a></td>
                              <td width="36"><img src="{IMG_PATH}theme/zhuanti_r8_c9.jpg" width="36" height="215"></td>
                            </tr>
                          </tbody></table>
                          <table width="100%" border="0" cellpadding="0" cellspacing="0" class="text2">
                            <tbody><tr>
                              <td><p align="center"><a href="http://culture.china.com.cn/zhuanti/sjyc/node_7097023.htm" target="_blank">世界自然遗产“中国丹霞”</a></p></td>
                            </tr>
                          </tbody></table>
                          <table width="100%" border="0" cellspacing="0" cellpadding="0">
                            <tbody><tr>
                              <td><img src="{IMG_PATH}theme/c.gif" width="1" height="10"></td>
                            </tr>
                          </tbody></table>
                          <table width="452" border="0" cellspacing="0" cellpadding="0">
                            <tbody><tr>
                              <td width="36"><img src="{IMG_PATH}theme/zhuanti_r8_c3.jpg" width="36" height="215"></td>
                              <td><a href="http://news.china.com.cn/zhuanti/xzhculture/node_7103817.htm" target="_blank"><img src="{IMG_PATH}theme/025.jpg" width="380" height="215" border="0"></a></td>
                              <td width="36"><img src="{IMG_PATH}theme/zhuanti_r8_c9.jpg" width="36" height="215"></td>
                            </tr>
                          </tbody></table>
                          <table width="100%" border="0" cellpadding="0" cellspacing="0" class="text2">
                            <tbody><tr>
                              <td><p align="center"><a href="http://news.china.com.cn/zhuanti/xzhculture/node_7103817.htm" target="_blank">2010中国西藏文化周</a></p></td>
                            </tr>
                          </tbody></table>
                          <table width="100%" border="0" cellspacing="0" cellpadding="0">
                            <tbody><tr>
                              <td><img src="{IMG_PATH}theme/c.gif" width="1" height="10"></td>
                            </tr>
                          </tbody></table>
                          <table width="452" border="0" cellspacing="0" cellpadding="0">
                            <tbody><tr>
                              <td width="36"><img src="{IMG_PATH}theme/zhuanti_r8_c3.jpg" width="36" height="215"></td>
                              <td><a href="http://culture.china.com.cn/zhuanti/cige2010/node_7089867.htm" target="_blank"><img src="{IMG_PATH}theme/027.jpg" width="380" height="215" border="0"></a></td>
                              <td width="36"><img src="{IMG_PATH}theme/zhuanti_r8_c9.jpg" width="36" height="215"></td>
                            </tr>
                          </tbody></table>
                          <table width="100%" border="0" cellpadding="0" cellspacing="0" class="text2">
                            <tbody><tr>
                              <td><p align="center"><a href="http://culture.china.com.cn/zhuanti/cige2010/node_7089867.htm" target="_blank">2010中艺博国际画廊博览会</a></p></td>
                            </tr>
                          </tbody></table>
                          <table width="100%" border="0" cellspacing="0" cellpadding="0">
                            <tbody><tr>
                              <td><img src="{IMG_PATH}theme/c.gif" width="1" height="10"></td>
                            </tr>
                          </tbody></table>
                          <table width="452" border="0" cellspacing="0" cellpadding="0">
                            <tbody><tr>
                              <td width="36"><img src="{IMG_PATH}theme/zhuanti_r8_c3.jpg" width="36" height="215"></td>
                              <td><a href="http://bh.china.com.cn/" target="_blank"><img src="{IMG_PATH}theme/003.jpg" width="380" height="215" border="0"></a></td>
                              <td width="36"><img src="{IMG_PATH}theme/zhuanti_r8_c9.jpg" width="36" height="215"></td>
                            </tr>
                          </tbody></table>
                          <table width="100%" border="0" cellpadding="0" cellspacing="0" class="text2">
                            <tbody><tr>
                              <td><p align="center"><a href="http://bh.china.com.cn/" target="_blank">滨海高新区</a></p></td>
                            </tr>
                          </tbody></table></td>
                          <td width="41"><img src="{IMG_PATH}theme/c.gif" width="1" height="1"></td>
                          <td><img src="{IMG_PATH}theme/c.gif" width="1" height="10"></td>
                          <td><img src="{IMG_PATH}theme/c.gif" width="1" height="10"></td>
                          <td valign="top"><table width="100%" border="0" cellspacing="0" cellpadding="0">
                            <tbody><tr>
                              <td><img src="{IMG_PATH}theme/c.gif" width="1" height="10"></td>
                            </tr>
                          </tbody></table>
                          <table width="452" border="0" cellspacing="0" cellpadding="0">
                            <tbody><tr>
                              <td width="36"><img src="{IMG_PATH}theme/zhuanti_r8_c3.jpg" width="36" height="215"></td>
                              <td><a href="http://www.china.com.cn/aboutchina/zhuanti/qlwts/node_7069788.htm" target="_blank"><img src="{IMG_PATH}theme/024.jpg" width="380" height="215" border="0"></a></td>
                              <td width="36"><img src="{IMG_PATH}theme/zhuanti_r8_c9.jpg" width="36" height="215"></td>
                            </tr>
                          </tbody></table>
                          <table width="100%" border="0" cellpadding="0" cellspacing="0" class="text2">
                            <tbody><tr>
                              <td><p align="center"><a href="http://www.china.com.cn/aboutchina/zhuanti/qlwts/node_7069788.htm" target="_blank">清凉圣境五台山</a></p></td>
                            </tr>
                          </tbody></table>
                          <table width="100%" border="0" cellspacing="0" cellpadding="0">
                            <tbody><tr>
                              <td><img src="{IMG_PATH}theme/c.gif" width="1" height="10"></td>
                            </tr>
                          </tbody></table>
                          <table width="452" border="0" cellspacing="0" cellpadding="0">
                            <tbody><tr>
                              <td width="36"><img src="{IMG_PATH}theme/zhuanti_r8_c3.jpg" width="36" height="215"></td>
                              <td><a href="http://www.china.com.cn/city/node_7095796.htm" target="_blank"><img src="{IMG_PATH}theme/026.jpg" width="380" height="215" border="0"></a></td>
                              <td width="36"><img src="{IMG_PATH}theme/zhuanti_r8_c9.jpg" width="36" height="215"></td>
                            </tr>
                          </tbody></table>
                          <table width="100%" border="0" cellpadding="0" cellspacing="0" class="text2">
                            <tbody><tr>
                              <td><p align="center"><a href="http://www.china.com.cn/city/node_7095796.htm" target="_blank">燕赵大地展新颜</a></p></td>
                            </tr>
                          </tbody></table>
                          <table width="100%" border="0" cellspacing="0" cellpadding="0">
                            <tbody><tr>
                              <td><img src="{IMG_PATH}theme/c.gif" width="1" height="10"></td>
                            </tr>
                          </tbody></table>
                          <table width="452" border="0" cellspacing="0" cellpadding="0">
                            <tbody><tr>
                              <td width="36"><img src="{IMG_PATH}theme/zhuanti_r8_c3.jpg" width="36" height="215"></td>
                              <td><a href="http://www.china.com.cn/economic/node_7102526.htm" target="_blank"><img src="{IMG_PATH}theme/028.jpg" width="380" height="215" border="0"></a></td>
                              <td width="36"><img src="{IMG_PATH}theme/zhuanti_r8_c9.jpg" width="36" height="215"></td>
                            </tr>
                          </tbody></table>
                          <table width="100%" border="0" cellpadding="0" cellspacing="0" class="text2">
                            <tbody><tr>
                              <td><p align="center"><a href="http://www.china.com.cn/economic/node_7102526.htm" target="_blank">第7届中国—东盟博览会</a></p></td>
                            </tr>
                          </tbody></table>
                          <table width="100%" border="0" cellspacing="0" cellpadding="0">
                            <tbody><tr>
                              <td><img src="{IMG_PATH}theme/c.gif" width="1" height="10"></td>
                            </tr>
                          </tbody></table>
                          <table width="452" border="0" cellspacing="0" cellpadding="0">
                            <tbody><tr>
                              <td width="36"><img src="{IMG_PATH}theme/zhuanti_r8_c3.jpg" width="36" height="215"></td>
                              <td><a href="http://chongqing.china.com.cn/" target="_blank"><img src="{IMG_PATH}theme/004.jpg" width="380" height="215" border="0"></a></td>
                              <td width="36"><img src="{IMG_PATH}theme/zhuanti_r8_c9.jpg" width="36" height="215"></td>
                            </tr>
                          </tbody></table>
                          <table width="100%" border="0" cellpadding="0" cellspacing="0" class="text2">
                            <tbody><tr>
                              <td><p align="center"><a href="http://chongqing.china.com.cn/" target="_blank">中国重庆</a></p></td>
                            </tr>
                          </tbody></table></td>
                        </tr>
                      </tbody></table></td>
                    </tr>
                  </tbody></table>
                  <table width="100%" border="0" cellspacing="0" cellpadding="0">
                    <tbody><tr>
                      <td><img src="{IMG_PATH}theme/c.gif" width="1" height="10"></td>
                    </tr>
                  </tbody></table></td>
                </tr>
              </tbody></table></td>
            </tr>
          </tbody></table></td>
        </tr>
      </tbody></table></td>
      <td width="7" background="{IMG_PATH}theme/bg2.jpg"><img src="{IMG_PATH}theme/c.gif" width="7" height="1"></td>
    </tr>
  </tbody></table>
  {template "content","footer_my"}

</div> 
</body></html>