<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=9" />
  <meta name="keywords" content="{$SEO['keyword']}">
  <meta name="description" content="{$SEO['description']}">
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <title>
    {if isset($SEO['title']) && !empty($SEO['title'])}{$SEO['title']}{/if}{$SEO['site_title']}
  </title>
  <link href="{CSS_PATH}default.css" rel="stylesheet" type="text/css" />
  <link href="{CSS_PATH}stylesheets/reset.css" rel="stylesheet" type="text/css"/>
  <link href="{CSS_PATH}stylesheets/forms.css" rel="stylesheet" type="text/css"/>
  <link href="{CSS_PATH}stylesheets/grid.css" rel="stylesheet" type="text/css" />
  <link href="{CSS_PATH}stylesheets/style.css" rel="stylesheet" type="text/css" />
  <link href="{CSS_PATH}stylesheets/video.css" rel="stylesheet" type="text/css" />
  {template "content","header_one"}
  <!--头部 end-->  
  <div class="hr_6"></div>
  <!-- 二级导航  -->
  <div class="sub_nav">
    <ul>
      <li class="first"><a href="{siteurl($siteid)}" title="中国城市">城市</a><b class="dichan">视频</b></li>
    </ul>
  </div>
  <div class="hr_6"></div>

  <div class="col-left">
    <div class="crumbs">
      <a href="{siteurl($siteid)}">首页</a><span> > </span>{catpos($catid)} 列表
    </div>
  </div>

  <div class="video clear">
    <div class="video_img">
      {pc:content  action="lists" catid="$catid" order="id DESC" page="$page" num="40"}
      <ul class="float"> 
        {loop $data $r}
        {if $n == 26}
      </ul>
      <div class="hr_6"></div>
      <div id="ad" class="clear">
        <img src="{IMG_PATH}images/banner_980_85.jpg" width="978" height="80"/>
      </div>
      <div class="hr_6"></div>
      <ul class="float">
        {/if}
        <li>
          <div class="image">
            <a href="{$r['url']}" target="_blank" >
              <img src="{thumb($r['thumb'],180,125)}" width="180" height="125">
            </a>
          </div>
          <a href="{$r['url']}" target="_blank" >{str_cut($r[title],40)}</a>
        </li>
        {if $n%5==0}
        <div class="hr_6"></div>
        {/if}
        {/loop}
      </ul>
      {/pc}
    </div>
    <div id="pages" class="text-c">{$pages}</div>
    <div class="hr_6"></div>
  </div>
  <!-- page2 end -->
  <div class="hr_6"></div>
  <!--尾部-->      
  {template "content","footer_my"}