<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=9" />
  <meta name="keywords" content="{$SEO['keyword']}">
  <meta name="description" content="{$SEO['description']}">
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <title>
    {if isset($SEO['title']) && !empty($SEO['title'])}{$SEO['title']}{/if}{$SEO['site_title']}
  </title>
  <link href="{CSS_PATH}default.css" rel="stylesheet" type="text/css" />
  <link href="{CSS_PATH}stylesheets/reset.css" rel="stylesheet" type="text/css"/>
  <link href="{CSS_PATH}stylesheets/forms.css" rel="stylesheet" type="text/css"/>
  <link href="{CSS_PATH}stylesheets/grid.css" rel="stylesheet" type="text/css" />
  <link href="{CSS_PATH}stylesheets/style.css" rel="stylesheet" type="text/css" />
  <link href="{CSS_PATH}stylesheets/important_news.css" rel="stylesheet" type="text/css" />
  {template "content","header_one"}
  <!--头部 end-->  
  <div class="hr_6"></div>
  <!-- 二级导航  -->
  <h1 style="display:none;">城市要闻</h1>
  <div class="sub_nav">
    <ul>
      <li class="first"><a href="{siteurl($siteid)}" title="城市">城市</a><span class="dichan">要闻</span></li>
    </ul>
  </div>
  <!-- 二级导航 end  -->
    <!-- 广告 
    <div id="ad" class="clear">
    </div>
    <!-- 广告end -->
    <div class="hr_6"></div>
    <div id="important_news">
      <div class="news_list float">
        {pc:content  action="lists" catid="$catid" order="updatetime DESC" page="$page" num="40"}
        <ul class="list lh24 f14">
          {loop $data $r}
          <li>
            <span class="rt">
              {date('Y-m-d H:i:s',$r[updatetime])}
            </span>
            <a href="{$r[url]}" target="_blank"{title_style($r[style])}>{str_cut($r[title],79)}
            </a>
          </li>
          {if $n%5==0}<li class="bk20 hr"></li>{/if}
          {/loop}
        </ul>
        <div id="pages" class="text-c">{$pages}</div>
        {/pc}
      </div>
    </div>
    {template "content" , "sidebar"}
    <div class="hr_6"></div>
    {template "content","footer_my"}