<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=9" />
    <meta name="keywords" content="{$SEO['keyword']}">
    <meta name="description" content="{$SEO['description']}">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="Keywords" content="中国网是国务院新闻办领导，中国外文出版发行事业局管理的国家重点新闻网站" />
    <title>
      {if isset($SEO['title']) && !empty($SEO['title'])}{$SEO['title']}{/if}{$SEO['site_title']}
    </title>
    <link href="{CSS_PATH}default.css" rel="stylesheet" type="text/css" />
    <link href="{CSS_PATH}stylesheets/reset.css" rel="stylesheet" type="text/css"/>
    <link href="{CSS_PATH}stylesheets/forms.css" rel="stylesheet" type="text/css"/>
    <link href="{CSS_PATH}stylesheets/grid.css" rel="stylesheet" type="text/css" />
    <link href="{CSS_PATH}stylesheets/style.css" rel="stylesheet" type="text/css" />
    <link href="{CSS_PATH}stylesheets/content.css" rel="stylesheet" type="text/css" />
    {template "content","header_one"}
        <!--头部 end-->  
    <div class="hr_6"></div>

    <!-- <div id="ad" class="clear">
    </div> -->
    
    <div class="hr_6"></div>
    
    <div id="main" style="width: 980px;">
      <div class="Article">
        <div class="bts float">
          <a href="{siteurl($siteid)}">中国城市网</a>
          <span> > {catpos($catid)} 正文</span> 
        </div>
        <div class="font">字号&nbsp;&nbsp;&nbsp;
          <a class="da">大</a>&nbsp;&nbsp;&nbsp;
          <a class="zhong">中</a>&nbsp;&nbsp;&nbsp;
          <a class="xiao">小</a>
        </div>
        <h1 class="title clear">{$title}</h1>
        <div class="ms">
          <a href="{siteurl($siteid)}">
            城市_中国网&nbsp;city.china.com.cn&nbsp;&nbsp;&nbsp;
          </a> 
          时间：{$inputtime}&nbsp;&nbsp;&nbsp;
          责任编辑：{$editor}&nbsp;&nbsp;&nbsp;
        </div>
        <div class="content">
          {$content}
        </div>
      </div>
    </div>
    <div class="hr_6"></div>
{template "content","footer_my"}