<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=7" />
    <title>{if isset($SEO['title']) && !empty($SEO['title'])}{$SEO['title']}{/if}{$SEO['site_title']}</title>
    <meta name="keywords" content="{$SEO['keyword']}"/>
    <meta name="description" content="{$SEO['description']}"/>
    <link href="{CSS_PATH}style.css" rel="stylesheet" type="text/css"/>
    <link href="{CSS_PATH}stylesheets/city.css" rel="stylesheet" type="text/css" />
    <link href="{CSS_PATH}jquery.simplyscroll.css" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="{JS_PATH}jquery.min.js"></script>
</head>
<body>
    <div class="wrapper">
        <div id="content" class="clearfix city"> 
            {template "content","header-common"}
            <div class="crumbs">
                <a href="{siteurl($siteid)}">首页</a><span> > </span><a href="{APP_PATH}tags_1.html">标签</a>
            </div>
            <h1>标签列表</h1>
            <div class="row clearfix">
                <div class="left_660 tags">
                    <ul class="clearfix">
                        {loop $infos $info}
                        <?php if (!empty($info['keyword'])) { ?>
                        <li>
                            <a href="{APP_PATH}tag_lists_{urlencode($info['keyword'])}_1.html" title="{$info['keyword']}">{$info['keyword']}</a>
                        </li>
                        <?php } ?>
                        {/loop}
                    </ul>
                    <div id="pages">
                        <?php echo $pages; ?>
                    </div>
                </div>
                <div class="content_recommend float">
                    <div class="col-auto">
                        <div class="box">
                            <h2 style="color: red;">排行榜</h2>
                            <ul class="content digg">
                                {pc:content  action="hits" catid="9" num="5"}
                                {loop $data $r}
                                <li>
                                    <a href="{$r[url]}" title="{$r[title]}">
                                        {if $r[article_bac] == ""}{str_cut($r[title],50,'')}{else}{$r[article_bac]}{/if}
                                    </a>
                                </li>
                                {/loop}
                                {/pc}
                            </ul>
                        </div>
                    </div>
                    <div class="hr_6"></div>
                    <div class="col-auto">
                        <div class="box">
                            <div>
                                <h2 class="float" style="color: red;">相关文章</h2>
                            </div>
                            <div class="clear"></div>
                            <ul class="content digg">
                                {pc:content  action="lists" catid="9" order="id DESC" num="5"}
                                {loop $data $r}
                                <li>
                                    <a href="{$r[url]}" title="{$r[title]}">
                                        {if $r[article_bac] == ""}{str_cut($r[title],50,'')}{else}{$r[article_bac]}{/if}
                                    </a>
                                </li>
                                {/loop}
                                {/pc}
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {template "content","footer-common"}
        <script type="text/javascript" src="{JS_PATH}jquery.simplyscroll.min.js"></script>
        <script type="text/javascript">
            $(function(){
                $("#scroller").simplyScroll();
                $("#city_tuijie_tu").simplyScroll({customClass : ""});
            })
        </script>
    </div>
</boby>
</html>